/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

ul {
  display: flex;
  list-style-type: none;
  align-items: center;

}
li{
  margin: 0 20px;
}

h1{
  font-size: 48px;
  color: #F9FAF8;
  margin: 0.67em 0;
  font-weight: 900;
  width: 333px;
  margin: 0;
  padding: 0;
}

p{
  margin: 20px 0;
  font-size: 18px;
  color: #E5E7EB;
  width: 464px;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';font-size: 22px;
}




/******************************************
/* LAYOUT
/*******************************************/
.header {
  background-color: #1F2937;
  color: #F9FAF8;
}

footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.upper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo{
  font-size: 24px;
  color: #F9FAF8;
}

.down{
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;

}

.down-right{
  width: 500px;
    height: 200px;
    background-color:#6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button{
  color: white;
  background-color: #3882F6;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 19px;
  border: none;
  border-radius: 10px;
  width: 126px;
}

.container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img{
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 0 20px;
}

.container-article-p{
  font-size: 13px;
  color: black;
  width: 150px;
  margin: 0 20px;
  text-align: center;
}
.photos{
  display: flex;
}